<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBtcLRzGp2TXtWD_fDFAFqj5L1n3WNyFvg</string>
	<key>GCM_SENDER_ID</key>
	<string>179786751607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.form.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>contract-78fb1</string>
	<key>STORAGE_BUCKET</key>
	<string>contract-78fb1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179786751607:ios:55a4743b3dbb8280aa3072</string>
	<key>DATABASE_URL</key>
	<string>https://contract-78fb1-default-rtdb.firebaseio.com</string>
</dict>
</plist>